<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light py-4 ">
          <a class="navbar-brand" href="#" routerLink="/stocks">Logo</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav ms-auto">
              <li class="nav-item px-3 py-2" >
                <a
                  class="nav-link text-dark font-weight-bold"
                  routerLink="/orders"
                  href=""
                  >Orders</a
                >
              </li>

            </ul>
          </div>
        </nav>
        <!-- ./NavBar -->
      </div>
    </div>
  </div>
</header>
<!-- ./Header -->
